## Build files
/out
/build

/bin
/bin-int
/rune/lib/glad/bin
/rune/lib/glad/bin-int
/rune/lib/spirv_reflect/bin
/rune/lib/spirv_reflect/bin-int
**/obj/**
sandbox/assets/scripts/**

## VS Project Files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

## Settings
*.DotSettings.user
*.DotSettings
# RenderDoc Capture Settings
*.cap
App.config