## Build files
/out
/build
**/bin/**
**/obj/**
sandbox/assets/scripts/**

/rune/bin
/rune/bin-int
/sandbox/bin
/sandbox/bin-int
/rune/lib/glad/bin
/rune/lib/glad/bin-int
/rune/lib/spirv_reflect/bin
/rune/lib/spirv_reflect/bin-int
**/obj/**
sandbox/assets/scripts/**

## VS Project Files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj

## Settings
*.DotSettings.user
*.DotSettings
# RenderDoc Capture Settings
*.cap
App.config